## DIVYA

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [2]:
df = pd.read_csv('mydata.csv')

In [3]:
dataset  =df.copy()

In [4]:
df.head(12)

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.0,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.0,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.0,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.0,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.0,0.00,0,0
5,1,PAYMENT,7817.71,C90045638,53860.00,46042.29,M573487274,0.0,0.00,0,0
6,1,PAYMENT,7107.77,C154988899,183195.00,176087.23,M408069119,0.0,0.00,0,0
7,1,PAYMENT,7861.64,C1912850431,176087.23,168225.59,M633326333,0.0,0.00,0,0
8,1,PAYMENT,4024.36,C1265012928,2671.00,0.00,M1176932104,0.0,0.00,0,0
9,1,DEBIT,5337.77,C712410124,41720.00,36382.23,C195600860,41898.0,40348.79,0,0
10,1,DEBIT,9644.94,C1900366749,4465.00,0.00,C997608398,10845.0,157982.12,0,0
11,1,PAYMENT,3099.97,C249177573,20771.00,17671.03,M2096539129,0.0,0.00,0,0

In [5]:
df.columns.values

array(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg',
       'newbalanceOrig', 'nameDest', 'oldbalanceDest', 'newbalanceDest',
       'isFraud', 'isFlaggedFraud'], dtype=object)

In [6]:
df.shape

(6362620, 11)

In [7]:
df['isFlaggedFraud'].value_counts()

0    6362604
1         16
Name: isFlaggedFraud, dtype: int64

In [8]:
df.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

## Aditi

In [9]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [10]:
df = df.drop(columns=['isFlaggedFraud', 'nameDest', 'nameOrig'], axis=1)

In [11]:
df.type.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: type, dtype: int64

In [12]:
def applyf(tp) :
    if tp == 'CASH_OUT':
        return 0 
    elif tp == 'PAYMENT': 
        return 1
    elif tp == 'CASH_IN': 
        return 2
    elif tp == 'TRANSFER': 
        return 3
    elif tp == 'DEBIT': 
        return 4
df.type=  df.type.apply(applyf)

In [15]:
df.head(10)

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,1,9839.64,170136.00,160296.36,0.0,0.00,0
1,1,1,1864.28,21249.00,19384.72,0.0,0.00,0
2,1,3,181.00,181.00,0.00,0.0,0.00,1
3,1,0,181.00,181.00,0.00,21182.0,0.00,1
4,1,1,11668.14,41554.00,29885.86,0.0,0.00,0
5,1,1,7817.71,53860.00,46042.29,0.0,0.00,0
6,1,1,7107.77,183195.00,176087.23,0.0,0.00,0
7,1,1,7861.64,176087.23,168225.59,0.0,0.00,0
8,1,1,4024.36,2671.00,0.00,0.0,0.00,0
9,1,4,5337.77,41720.00,36382.23,41898.0,40348.79,0

In [18]:
Y =    df['isFraud']
X =    df.drop('isFraud', axis=1)

In [23]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

## Harshita

In [34]:
from sklearn.metrics import classification_report
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression

In [35]:
model_decisiontree = DecisionTreeClassifier()
model_decisiontree.fit(X_train, Y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [36]:
y_predict_decisiontree = model_decisiontree.predict(X_test)

In [37]:
actual_vs_predict = pd.DataFrame({'Actual': Y_test,
                                'Prediction': y_predict_decisiontree})
actual_vs_predict.sample(12)

         Actual  Prediction
2376267       0           0
3607099       0           0
24616         0           0
5044015       0           0
3872482       0           0
3438645       0           0
567930        0           0
1447248       0           0
355673        0           0
196154        0           0
134069        0           0
4699414       0           0

In [ ]:
## implement random forest

## Gaurav

## Geetanjali

In [39]:
model_logisticRegression = LogisticRegression()
model_logisticRegression.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [43]:
y_predict_logisticRegression = model_logisticRegression.predict(X_test)

In [44]:
actual_vs_predict = pd.DataFrame({'Actual': Y_test,
                                'Prediction': y_predict_logisticRegression})
actual_vs_predict.sample(12)

         Actual  Prediction
4572716       0           0
1045297       0           0
4249984       0           0
3854609       0           0
5304823       0           0
6233429       0           0
4101567       0           0
2633070       0           0
2167564       0           0
5325692       0           0
3705153       0           0
3783600       0           0

In [45]:
print('Classification metrics: \n', classification_report(Y_test, y_predict_logisticRegression))

Classification metrics:
              precision    recall  f1-score   support

          0       1.00      1.00      1.00   1270883
          1       0.44      0.76      0.56      1641

avg / total       1.00      1.00      1.00   1272524

## Akshay

In [47]:
print('Classification metrics: \n', classification_report(Y_test, y_predict_decisiontree))

Classification metrics:
              precision    recall  f1-score   support

          0       1.00      1.00      1.00   1270883
          1       0.90      0.88      0.89      1641

avg / total       1.00      1.00      1.00   1272524

In [ ]:
print('Classification metrics: \n', classification_report(Y_test, y_predict_logisticRegression))